PORT=YOUR_PORT
MONGO_URL=YOUR_MONGO_URL
MONGO_PASSWORD=YOUR_MONGO_PASSWORD
MONGO_USER=YOUR_MONGO_USER
JWT_SECRET=YOUR_JWT_SECRET
CLOUDINARY_CLOUD_NAME=YOUR CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY=YOUR CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=YOUR CLOUDINARY_API_SECRET